<!-- inscription.component.html -->
<app-navbar></app-navbar>
<div class="login-container">
    <h2>Connexion Agriculteur</h2>
    
    <form (submit)="submitForm()">
      <label for="nom">Nom</label>
      <input type="text" id="nom" name="nom" [(ngModel)]="userData.nom" placeholder="Votre nom" required>
  
      <label for="prenom">Prénom</label>
      <input type="text" id="prenom" name="prenom" [(ngModel)]="userData.prenom" placeholder="Votre prénom" required>
  
      <label for="email">E-mail</label>
      <input type="text" id="email" name="email" [(ngModel)]="userData.mail" placeholder="email@gmail.com" required>
  
      <label for="password">Mot de passe</label>
      <input type="password" id="password" name="password" [(ngModel)]="userData.pwd" placeholder="Votre mot de passe" required>
  
      <button type="submit">Enregistrer</button>
    </form>
  </div>