<div class="container mt-4">
    <h2>Modifier un Article</h2>
    <form [formGroup]="modifierArticleForm" (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
  
        <!-- Champ Description -->
        <div class="mb-3">
            <label for="description" class="form-label">Description:</label>
            <input type="text" id="description" formControlName="description" class="form-control" required>
            <div class="invalid-feedback">
                La description est requise.
            </div>
        </div>
  
        <!-- Champ Titre -->
        <div class="mb-3">
            <label for="titre" class="form-label">Titre:</label>
            <input type="text" id="titre" formControlName="titre" class="form-control" required>
            <div class="invalid-feedback">
                Le titre est requis.
            </div>
        </div>
  
        <!-- Champ Date -->
        <div class="mb-3">
            <label for="date" class="form-label">Date:</label>
            <input type="date" id="date" formControlName="date" class="form-control" required>
            <div class="invalid-feedback">
                La date est requise.
            </div>
        </div>
  
        <button type="submit" class="btn btn-primary">Modifier Article</button>
    </form>
</div>


