<!-- footer.component.html -->

<footer class="footer-container">
    <div class="footer-content">
      <div class="footer-section">
        <h3>Liens Rapides</h3>
        <ul>
          <li><a routerLink="/">Accueil</a></li>
          <li><a routerLink="/articles">Articles</a></li>
          <li><a routerLink="/aboutUs">À Propos</a></li>
        </ul>
      </div>
  
      <div class="footer-section">
        <h3>Contact</h3>
        <p>Email: contact@agricompany.com</p>
        <p>Téléphone: +123456789</p>
      </div>
  
      <div class="footer-section">
        <h3>Suivez-nous</h3>
        <ul class="social-links">
          <li><a href="https://www.facebook.com/votre-page" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook"></i></a></li>
          <li><a href="https://twitter.com/votre-compte" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a></li>
          <li><a href="https://www.linkedin.com/in/votre-profil" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  
    <div class="footer-bottom">
      <p>&copy; 2023 AgriConnect. Tous droits réservés.</p>
    </div>
  </footer>
  