<!-- ressource.component.html -->

<div class="container mt-4">
    <h2>Liste des Ressources</h2>
    <div class="d-flex justify-content-between align-items-center mb-2">
        <div>
            <button class="btn btn-sm btn-success" routerLink="/ajouter-ressource">
                <i class="fas fa-plus"></i> Ajouter Ressource
            </button>
        </div>
        <div class="input-group" style="max-width: 200px;">
            <input type="text" class="form-control" placeholder="Rechercher...">
            <button class="btn btn-outline-secondary" type="button">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>
  
    <table class="table">
      <thead>
        <tr>
          <th>N°</th>
          <th>Nom</th>
          <th>Type Ressource</th>
          <th>Quantité Disponible</th>
          <th>Coût Unitaire</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <!-- Utilisez une *ngFor pour itérer sur vos ressources -->
        <tr *ngFor="let ressource of ressources; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ ressource.nom }}</td>
          <td>{{ ressource.typeRessource }}</td>
          <td>{{ ressource.quantiteDispo }}</td>
          <td>{{ ressource.coutUnitaire }}</td>
          <td>
            <button class="btn btn-sm btn-danger" (click)="supprimerRessource(ressource._id)">
                <i class="fas fa-trash-alt"></i> Supprimer
            </button>

            <button class="btn btn-sm btn-warning" (click)="editerRessource(ressource._id)">
                <i class="fas fa-edit"></i> Éditer
            </button>
          </td>
        </tr>
      </tbody>
    </table>
</div>
