<!-- modification-ressource-form.component.html -->
<div style="display: flex;"><app-side-bar></app-side-bar></div>

<div style="width: 100%;margin-left: 0%;">
<div class="container mt-4" style="width: 60%;">
    <h2>Modifier une Ressource</h2>
    <form [formGroup]="modifierRessourceForm" (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
  
        <!-- Champ Nom -->
        <div class="mb-3">
            <label for="nom" class="form-label">Nom de la Ressource:</label>
            <input type="text" id="nom" formControlName="nom" class="form-control" required>
            <div class="invalid-feedback">
                Le nom de la ressource est requis.
            </div>
        </div>
  
        <!-- Champ Type de Ressource -->
        <div class="mb-3">
            <label for="typeRessource" class="form-label">Type de Ressource:</label>
            <input type="text" id="typeRessource" formControlName="typeRessource" class="form-control" required>
            <div class="invalid-feedback">
                Le type de la ressource est requis.
            </div>
        </div>
  
        <!-- Champ Quantité Disponible -->
        <div class="mb-3">
            <label for="quantiteDispo" class="form-label">Quantité Disponible:</label>
            <input type="number" id="quantiteDispo" formControlName="quantiteDispo" class="form-control" required>
            <div class="invalid-feedback">
                La quantité disponible est requise.
            </div>
        </div>
  
        <!-- Champ Coût Unitaire -->
        <div class="mb-3">
            <label for="coutUnitaire" class="form-label">Coût Unitaire:</label>
            <input type="number" id="coutUnitaire" formControlName="coutUnitaire" class="form-control" required>
            <div class="invalid-feedback">
                Le coût unitaire est requis.
            </div>
        </div>
  
        <button type="submit" class="btn btn-primary">Modifier Ressource</button>
    </form>
</div>

</div>