<!-- home.component.html -->
<app-navbar></app-navbar>
<div class="home-container">
    <img src="../assets/p1.png" alt="Image d'accueil" class="home-image">
    <h2>Welcome to AgriConnect</h2>
    <p>Explore the world of agriculture with AgriConnect, your trusted source for farming insights and knowledge.</p>
    <!-- Autres contenus spécifiques à la page d'accueil -->
    <br> <br>
  <p class="description">
    Comme vous le savez sans doute, les agriculteurs sont ultra-connectés ! Tous les jours, ils consultent des applications mobiles agricoles - ou tout public - , gratuites ou payantes : météo, banque, petites annonces, cours des marchés, etc.
  </p>

  <p class="description">
    Dans ce top 14 - rien à voir avec le rugby 😅 -, retrouvez les meilleures applis agricoles. Pour les choisir, nous avons évalué leurs avantages : améliorer votre quotidien, gagner du temps, stocker des informations sur votre exploitation. Mais, une bonne appli pour l’agriculture est également simple d’utilisation et fiable. Vous êtes prêt ?
  </p> <br> <br>
  <p class="highlighted-text">
    <span class="highlight-title">Pourquoi utiliser une application agricole ?</span>

  </p> <br> <br>
  <p class="description">
   Les applis développées spécialement pour le monde agricole sont de plus en plus nombreuses. Grâce à elles, les chefs d’exploitation trouvent un appui dans la gestion de leur entreprise agricole.
  </p>

  <p class="description">
    ✅ Consulter des informations pour prendre les bonnes décisions : consultation d’une application de météo ⇒ décision de récolter ; application des cours des céréales ⇒ décision de vendre.
  </p>

  <p class="description">
    ✅ Communiquer et réseauter : demander de l’aide sur les forums, envoyer des mails aux clients et fournisseurs, rejoindre un groupe sur les réseaux sociaux, être informé des dernières tendances...le tout, de n’importe où !
  </p>

  <p class="description">
    ✅ Pratiquer simplement l’entraide ou la location de matériel agricole : noter les coûts d'utilisation de ses matériels, la durée d’utilisation ou le bénéficiaire.
  </p>

  <p class="description">
    ✅ Stocker des informations pour avoir une vision globale de leur activité, faciliter la communication entre les salariés ou planifier des tâches : tâches effectuées/à effectuer sur les parcelles, informations sur les animaux (santé, gestation, traitements).
  </p>

  <p class="description">
    ✅ Travailler plus vite : utiliser une application d’arpentage agricole pour intégrer les lignes de guidage et les bordures à votre console, se servir d’une appli pour l’agriculture qui calcule la quantité d’intrants, etc.
  </p>

  <p class="description">
    Ce serait vraiment dommage de vous en priver ! Et maintenant, passons en revue les meilleures applis pour l’agriculture.
  </p> <br><br>
  <p class="highlighted-text">
    <span class="highlight-title">Les applications d’arpentage agricole</span>

  </p>
  <br> <br>
  <p class="description">
    Arpenter un terrain agricole vous permet de mieux connaître la surface de vos parcelles. Si vous pouvez faire appel à une entreprise spécialisée pour un maximum de précision, il est possible de télécharger une appli d’arpentage agricole pour effectuer ces mesures vous-même (et gratuitement !).
  </p>
  <br><br><br><br><br>
  <div>
    <img src="../assets/p2.png" alt="Image d'accueil" class="home-image">
  </div>
  </div>
<br><br><br>
  <div>
    <app-footer></app-footer>
  </div>